<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LOGIN PAGE : STUDENT MANAGEMENT SYSTEM</title>
</head>

<body>
    <h1> ADMIN LOGIN PAGE</h1>
    <form action="/" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="Enter your username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="Enter your password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <h1> ADMIN ADD</h1>
    <form action="/admin_add" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="Enter your username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="Enter your password" required><br><br>

        <button type="submit">Add Admin</button>
    </form>
</body>

</html>